<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <a href="/"><title>Url Shortener</title></a>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico">
   </head>
  <body>
    <a href="/"><h1>Url Shortener</h1></a>
    <div class="input-group">
	  <span class="glyphicon glyphicon-link">
	    <a href="<%= @shortened %>" target="_blank"><%= @shortened %></a>
	  </span>
	</div>
  </body>
</html>
