body {
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 64px;
}

a {
  color: orange;
  font-size: 20px;
}

a:hover {
  color: #CCC;
  text-decoration: none;
}

#inputLink {
  width: 300px;
}